{% extends 'investimentos/base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow border-0">
                <div class="card-body">

                    <h3 class="text-center mb-4">Criar Conta</h3>

                    <form method="POST">
                        {% csrf_token %}

                        {{ formulario|crispy }}

                        <button type="submit" class="btn btn-success btn-block mt-3">
                            Criar Conta
                        </button>
                    </form>

                    <hr>

                    <div class="text-center">
                        <small>
                            Já possui conta?
                            <a href="{% url 'login' %}">Entrar</a>
                        </small>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
